* {
  box-sizing: border-box;
  font-family: Helvetica Neue, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.body-section {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.body-header {
  display: flex;
  padding-top: 20px;
  align-items: center;
}

.op-photo {
  width: 40px;
  height: 40px;
  clip-path: circle();
}

.op-info {
  margin-left: 6px;
  align-items: left;
}

.op-id {
  font-size: 18px;
  color: #191919;
}

.body-title {
  font-size: 24px;
  margin-top: 10px;
}

.body-content p {
  margin-top: 20px;
}

.post-issue {
  font-size: 14px;
  color: #818181;
  font-weight: 400;
}

.cmt-wrapper {
  display: flex;
  padding: 10px 0 5px 0;
}

.info {
  width: 100%;
  margin: 0 0px 0 12px;
  padding-right: 25px;
  border-bottom: 0.5px solid#c0c0c0;
}

.user-face {
  width: 28px;
  height: 28px;
  clip-path: circle();
  margin-left: 15px;
}

.cmt-header {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.user-id {
  font-size: 15px;
  color: #191919;
  font-weight: 500;
}

.is-op {
  font-size: 11px;
  color: #42bd56;
  background-color: #e8f7eb;
  margin-left: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
}

.header-right {
  margin-left: auto;
  display: flex;
}
.create-at {
  font-size: 10px;
  color: #c0c0c0;
  padding-right: 4px;
  text-align: right;
}

.dots-icon {
  font-size: 13px;
  color: #b9b9b9;
  float: right;
  margin-left: 10px;
  padding-right: 4px;
}

.quote {
  background-color: #f7f7f7;
  border-radius: 6px;
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  margin-top: 5px;
}

.quote-content {
  font-size: 15px;
  color: #494949;
  align-items: bottom;
}
.quote-img-container {
  position: relative;
  max-width: 300px;
}

.quote-img {
  margin-top: 5px;
  max-width: 300px;
  border-radius: 4px;
}

.quote-gif-badge {
  position: absolute;
  bottom: 2px;
  right: 3px;
  background-color: #000;
  border-radius: 6px;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
}

.cmt-content {
  font-size: 15px;
  color: #494949;
  margin-top: 8px;
}

.cmt-img-container {
  position: relative;
  max-width: 300px;
}

.cmt-img {
  margin-top: 8px;
  max-width: 300px;
  border-radius: 4px;
}

.cmt-gif-badge {
  position: absolute;
  bottom: 3;
  left: 154;
  background-color: #000;
  border-radius: 6px;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
}

.likes {
  margin-top: 6px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.like-icon {
  color: #b9b9b9;
  font-size: 14px;
}

.like-cnt {
  margin-left: 8px;
  color: #b9b9b9;
  font-size: 13px;
  padding-top: 2px;
}

.header-bar {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: left;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 0.5px solid#c0c0c0;
  font-size: 18px;
}

.header-bar p {
  margin: 0 15px;
  display: flex;
}

.cmt-cnt {
  color: 888888;
  font-size: 15px;
  margin-left: 3px;
}

.header-grey {
  color: #888888;
  font-size: 15px;
}

.header-black {
  font-size: 15px;
}

.cmt-cnt-container {
  display: flex;
  align-items: center;
  margin-right: 15px;
  position: relative;
  padding-left: 10px;
}

.cmt-indicator {
  width: 28px;
  height: 3px;
  border-radius: 1px;
  background-color: black;
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
}

.cmt-cnt-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.header-down {
  font-size: 12px;
  font-weight: 600;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
